.view-order-container {
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  /* background-color: #edf1f1; */
  background-color: #ecf1f1;

}
.order-detail-and-communication
{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 65%;
  max-width: 1000px;

}
.customer-vehicle-and-receiver-employee
{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 25%;
  max-width: 450px;
}
.order-and-actions-on-order
{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(58, 56, 56, 0.1);
}

.communication-on-order-and-services
{
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
}
.assigned
{
  background-color: rgb(179, 216, 179);
  color: rgb(3, 105, 49);
  padding: 6px 12px;
  border-radius: 4px;

}