.confirm-delete-modal
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 8px;
    text-align: center;
    position: absolute;
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.confirm-delete-buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
}
.api-success-message
{
    color: #077a07;
    font-weight: bold;
    font-size: 20px;
    background-color: #d5f8e3;
    padding: 25px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #a4f7a4;

}